<main class="main">
  <h1>Generador de Numeros Aleatorios</h1>
  <nav>
    <a class="button"
       routerLink="/cuadrado"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Cuadrado
    </a>|
    <a class="button"
       routerLink="/producto"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Producto
    </a>|
    <a class="button"
       routerLink="/lineal"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Lineal
    </a>|
    <a class="button"
       routerLink="/multiplicativo"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Multiplicativo
    </a>
  </nav>

  <router-outlet />

<!--  <app-producto></app-producto>
  <app-cuadrado></app-cuadrado>
  -->

</main>

